body{
  background-color: grey;
}

.App{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width:40%;
  margin:auto;
  padding:4rem;
  min-height: 100vh;

  .title{
    text-align:center;
  }
 
  
  .form{
    margin-bottom:2rem;
    .input{
    width: 100%;
    margin-bottom: 1rem;
  }
};
  .completed{
    text-decoration:line-through solid red;
    
  };

  .todo{
    font-size: 1.5rem;
    font-weight: bolder;
    color:black;
  }
}

